<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.BannerDao">
    <select id="selectByPage" resultType="Banner">
        select * from banner limit #{start},#{count}
    </select>
    <select id="selectCount" resultType="java.lang.Integer">
        select count(*) from banner
    </select>
    <insert id="insert">
        insert into banner values(#{id},#{title},#{img},#{create_date},#{status},#{other})
    </insert>
    <update id="updateSrc">
        update banner set img=#{src} where id=#{id}
    </update>
    <delete id="delAll">
        delete from banner where id in
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
    <update id="updateBanner">
        update banner set title=#{title},create_date=#{create_date},status=#{status},other=#{other} where id=#{id}
    </update>
    <select id="selectAll" resultType="Banner">
        select * from banner
    </select>
</mapper>