<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.StudentMapper">
  <sql id="Base_Column_List">
    id, name, sex, bir, clazz,t_id
  </sql>
  <select id="secectAll" resultType="Student">
    select 
    <include refid="Base_Column_List" />
    from student
  </select>
  <insert id="insertAll">
      insert into student values
      <foreach collection="list" item="student" separator=",">
        (#{student.id},#{student.name},#{student.sex},#{student.bir},#{student.clazz},#{student.t_id})
      </foreach>
  </insert>
</mapper>