<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.TeacherMapper">
    <resultMap id="map" type="Teacher">
        <id property="id" column="M_id"></id>
        <result column="t_name" property="name"></result>
        <result column="t_src" property="src"></result>
        <collection property="students" ofType="Student">
            <id column="id" property="id"></id>
            <result column="name" property="name"></result>
            <result column="sex" property="sex"></result>
            <result column="bir" property="bir"></result>
            <result column="clazz" property="clazz"></result>
            <result column="t_id" property="t_id"></result>
        </collection>
    </resultMap>
  <select id="secectAll" resultMap="map">
    SELECT  t.id M_id,t.name t_name,t.src t_src,s.* FROM teacher t left JOIN student s on t.id=s.t_id
  </select>
  <insert id="insertAll">
      insert into teacher values
      <foreach collection="list" separator="," item="teacher">
        (#{teacher.id},#{teacher.name},#{teacher.src})
      </foreach>
  </insert>
</mapper>